#main{
    position: relative;
    width: 750px;
    height: 236px;
    margin: 0 auto; 
    background: #2D7053;
    /*outline: 1px solid #cccccc; */
}
#foto{
    width: 142px;
    height: 142px;
    background-image: url(/img/ellipse.png);
    background-repeat: no-repeat;
    position:absolute;
    left:37px;
    top:46px;
    /*outline: 1px solid #cc0000; */
}
#name{
    width: 134px;
    height: 131px;
    font-size: 30px;
    text-align: left;
    color: #FFFFFF;
    font-family: AdobeInvisFont,MyriadPro-Regular;
    background-repeat: no-repeat;
    position: absolute;
    left:237px;
    top:52px;
   /* outline: 1px solid #cc0000; */
}
#rect1{
    width: 85px;
    height: 13px;
    background-image: url(/img/rect.png);
    background-repeat: no-repeat;
    position: absolute;
    left:621px;
    top:83px;
    /*outline: 1px solid #cc0000;*/
    }
      #rect2{
        width: 85px;
        height: 13px;
        background-image: url(/img/rect.png);
        background-repeat: no-repeat;
        position: absolute;
        left:621px;
        top:111px;
        /*outline: 1px solid #cc0000;*/
        }
        #rect3{
            width: 85px;
            height: 13px;
            background-image: url(/img/rect.png);
            background-repeat: no-repeat;
            position: absolute;
            left:621px;
            top:139px;
           /* outline: 1px solid #cc0000;*/
            }
    #room{
        width: 750px;
        height:466px;
        top: 236px;
        left: 0px;
        position: relative;
        background-image: url(/img/room.png);
        background-repeat: no-repeat;
        /*outline: 1px solid #cc0000;*/
    }
    #button1{
        position: absolute;
        width:342px;
        height:75px ;
        left: 204px;
        right: 204px;
        top: 344px;
        background-color: #CB9223;
        /*outline: 1px solid #cc0000;*/
   }
   #text{
        height: 17px;
        width: 251px;   
        top: 29px;
        left: 45px;
        font-size: 20px;
        font-family: AdobeInvisFont,MyriadPro-Regular;
        text-align: left;
        color: #FFFFFF;
        position: absolute;
        /*outline: 1px solid #cc0000;*/
   }
   #opisanie{
       width: 247px;
       height: 247px;
       left: 44px;
       top: 774px;
       position: absolute;
       border-radius: 1000px;
       background-image: url(/img/foto.png);
       background-repeat: no-repeat;
      /* outline: 1px solid #cc0000;*/
   }
   #text1{
       width: 210px;
       height: 27px;
       left: 366px;
       top:835px;
       font-size: 30px;
       font-weight: bold;
       text-align:left ;
       color: #292323;
       font-family: AdobeInvisFont,MyriadPro-Regular;
       position: absolute;
       /*outline: 1px solid #cc0000;*/
   }
  #text2{
        width: 240px;
        height: 50px;
        left: 364px;
        top: 891px;
        font-size: 24px;
        text-align:left ;
        color: #000000;
        font-family: AdobeInvisFont,MyriadPro-Regular;
        position: absolute;
        /*outline: 1px solid #cc0000;*/
   }
   #name2{
        width: 590px;
        height: 166px;
        left: 44px;
        top: 1081px;
        font-size: 24px;
        text-align:left ;
        color: #000000;
        font-family: AdobeInvisFont,MyriadPro-Regular;
        position: absolute;
        /*outline: 1px solid #cc0000;*/
   }
   #prichina{
    width: 545px;
    height: 32px;
    left: 44px;
    top: 1293px;
    font-size: 30px;
    font-weight: bold;
    text-align:left ;
    color: #000000;
    font-family: AdobeInvisFont,MyriadPro-Regular;
    position: absolute;
   /* outline: 1px solid #cc0000;*/
   }
   #prichina1{
    width: 256px;
    height: 190px;
    left: 44px;
    top: 1368px;
    font-size: 24px;
    text-align:left ;
    color: #000000;
    font-family: AdobeInvisFont,MyriadPro-Regular;
    position: absolute;
    /*outline: 1px solid #cc0000;*/

   }
   #button2{
    width: 342px;
    height: 75px;
    left: 217px;
    top: 1601px;
    position: absolute;
    background-color: #CB9223;
    /*outline: 1px solid #cc0000;*/
   }
  #textb2{
      
      height: 17px;
        width: 251px;   
        top: 25px;
        left: 45px;
        font-size: 21px;
        font-family: AdobeInvisFont,MyriadPro-Regular;
        text-align: left;
        color: #FFFFFF;
        position: absolute;
       /* outline: 1px solid #cc0000;*/
  }
  #footer{
      width: 751px;
      height: 154px;
      left: 0;
      top: 1725px;
      background-color: #888888;
      position: absolute;
      /*outline: 1px solid #cc0000;*/
  }
  .elipse{
    width: 97px;
    height: 97px;
    
    background-image: url(/img/ellipse-2.png);
    background-repeat: no-repeat;
    position: absolute;
    left:44px;
    top: 29px;
    /*outline: 1px solid #cc0000;*/
  }
  .adres{
      width: 199px;
      height: 17px;
      left: 325px;
      top: 103px;
      color: #FFFFFF;
      font-size: 18px;
      position: absolute;
    /*outline: 1px solid #cc0000;*/
  }
  .phone{
      width: 136px;
      height: 15px;
      left:570px;
      top: 57px;
      color: #FFFFFF;
      font-size: 16px;
      position: absolute;
      /*outline: 1px solid #cc0000;*/
  }
  .mail{
    width: 144px;
    height: 15px;
    left:562px;
    top: 99px;
    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
    /*outline: 1px solid #cc0000;*/

  }